.search-container {
  transition: box-shadow 1s ease, transform 1s ease;
}

.custom-input::placeholder {
    color: rgb(34, 34, 34);
    opacity: 1;
}

.search-container:hover{
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

.clickable {
  cursor: pointer;
  padding: 4px;
  border-radius: 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.icon {
  fill: #4f4f4f;
  stroke: #4f4f4f;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.clickable:hover .icon {
  fill: black;
  stroke: black;
}

.clickable:active {
  transform: scale(0.95);
}